@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    transition: .3s linear; 
    text-transform: capitalize;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.header{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: rgb(0, 32, 58);
    cursor: pointer;
    z-index: 2;
    opacity: 0.8;
    top: 0;
    right: 0;
    left: 0;
}

.header #logo img{
    width: 110px;
    margin-left: 50px;
    margin-top: 1px;
   
}
.header .navbar #button{
    position: fixed;
    cursor: pointer;
    font-size: 17px;
    margin-left: 10px;
    color: white;
    text-align: center;
    float: left;
    margin-right: 30px;
    font-weight: bold;
    position: relative;
}

.header .navbar #button::after {
   content: '';
   height: 3px;
   width: 0;
   background: #f1f1f1;
   position: absolute;
   right: 0;
   bottom: -10px;
   transition: 0.5s;
}
.header .navbar #button:hover:after {
    width: 100%;
}

.slider {
    margin-top: 6.6%;
    width: 100%;
    height: 600px;
    border-radius: none;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 100px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 100%;
    height: 100vh;
}
.navigation-manual {
    position: absolute;
    width: 100%;
    margin-top: 410px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #d2d6d8;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #898c91a9;
}

#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -20%;
}
#radio3:checked ~ .first {
    margin-left: -40%;
}
#radio4:checked ~ .first {
    margin-left: -60%;
}

.description p {
    color: rgb(58, 57, 57);
    font-size: 14px;
    text-align: center;
    opacity: 0.9;
    font-family: Arial;
    word-spacing: 5px;
    line-height: 19px;
    letter-spacing: 1px;
}

.description h1 {
    margin-top: 3%;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    color: rgb(22, 20, 20);
    opacity: 0.8;
}

.description h1:hover {
    color: #182c55;
}

.Discover-btn {
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: bold;
    background: #ffffff;
    width: 80px;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #1e4966;
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
}

.Discover-btn:hover {
    background-color: #1e4966;
    color: white;
}

.top {
    margin-top: 60px;
    margin-bottom: 5%;
}

.container-flex {
    display: flex;
    width: 100%;
    height: 60vh;
}

.left {
    margin-top: 10px;
    margin-left: 10%;
    width: 450px;
    height: 50vh;
}

.right {
    margin-left: 20px;
    width: 650px;
    height: 50vh;
}

.heading .list {
    margin-left: 10%;
    color: #181818;
    font-size: 14px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.hotel {
    position: relative;
    width: 100%;
    height: 50vh;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    overflow: hidden;
}
/*animation*/
.hotel::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 50vh;
    background: linear-gradient(0deg,transparent,transparent, #182c55,#182c55,#182c55);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.hotel::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 50vh;
    background: linear-gradient(0deg,transparent,transparent, #182c55,#182c55,#182c55);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.heading {
    position: relative;
}

.heading::after {
    margin-left: 50px;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100px;
    height: 4px;
    background: #1a4a6e;
}

.heading h5 {
    margin-left: 50px;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 2px;
    padding-top: 20px;
    color: #504e4e;
}

.heading h3 {
    margin-left: 50px;
    font-size: 26px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 10px;
    color: #222222;
}

.heading p {
    margin-bottom: 15px;
    line-height: 25px;
    font-size: 15px;
    text-align: justify;
    color: #5f5f5f;
    margin: 0 0 20px 50px;
}

.gallery {

    margin: 10px 20px;
}
/*gallery*/
.gallery img {
    margin-left: 10%;
    width: 250px;
    padding: 3px;
    transition: 1s;
}



.gallery img:hover {
    transform: scale(1.1);
}

.top1 {
    margin-top: 8%;
    margin-bottom: 10%;
}

.left1 {
    margin-left: 6%;
    width: 650px;
    height: 50vh;
}

.right1 {
    margin-top: 10px;
    margin-left: 5%;
    width: 450px;
    height: 50vh;
}

.btn {
    margin-left: 8%;
    margin-top: 0;
    margin-bottom: 5%;
    display: inline-block;
    background-color: #fff;
    color: #689cc7;
    text-align: center;
    border: 2px solid;
    border-radius: none;
    padding: 2px 8px;
    cursor: pointer;
    z-index: -2;
}

.btn:hover{
    background-color: #95c5ec;
    color: #fff;
}

footer {
    margin-top: 10%;
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-direction: row;
}

.sec {
    margin-right: 30px;
}

.aboutus {
    width: 40%;
}

h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

h2:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #182c55;
}

p {
    color: #999;
}

.sci {
    margin-top: 20px;
    display: flex;
}

.sci li {
    list-style: none;
}
.sci li img {
    border-radius: 4px;
}

.sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.sci li a:hover {
    background: #0e1e3dc5;
}

.sci li a .fa {
    color: #fff;
    font-size: 20px;
}

.quickLinks {
    position: relative;
    width: 25%;
}

.quickLinks ul li {
    list-style: none;
}

.quickLinks ul li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quickLinks ul li a:hover {
    color: #fff;
}

.contact {
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.contact .info {
    position: relative;
}

.contact .info li {
    display: flex;
    margin-bottom: 16px;
}

.contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.contact .info li span {
    color: #999;
}

.contact .info li span img {
    border-radius: 4px;
}

.contact .info li a {
    color: #999;
    text-decoration: none;
}

.contact .info li a:hover {
    color: #fff;
}

.copyrightText {
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}

@media (max-width: 991px){
    footer {
        padding: 40px;
    }
    footer .container {
        flex-direction: column;
    }
    .sec {
        margin-right: 0px;
        margin-bottom: 40px;
    }
    .aboutus, .quickLinks, .contact {
        width: 100%;
    }
    .copyrightText {
        padding: 8px 40px;
    }
}